{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

 <!-- main start-->
 <div class="row mt-5">
    {% for x in products %}
    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="100%" height="" alt="" />
    </div>
    <div class="col-md-6">
      <p><strong>Product Name: &nbsp;&nbsp;</strong>{{x.name}}</p><!-- &nbsp is entity used for space, there are lot more entityies as requirement which are not avsilable on keyboard, get it on crome-->
      <p><strong>Price: &nbsp;&nbsp;</strong>Rs.{{x.price}}</p>
      {% if x.cat == 1 %}
        <p><strong>Category:&nbsp;&nbsp;</strong>Mobile</p>
        {% elif x.cat == 2 %}
        <p><strong>Category:&nbsp;&nbsp;</strong>Shoes</p>
        {% else %}
        <p><strong>Category:&nbsp;&nbsp;</strong>Clothes</p>
        {% endif %}
      <p><strong>Product Description:&nbsp;&nbsp;</strong>{{x.pdetails}}</p>
      <br>
      <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to Cart</button></a>&nbsp;&nbsp;
      <a href="/viewcart"><button class="btn btn-danger">View Cart</button></a>&nbsp;&nbsp;
      <a href="/"><button class="btn btn-danger">Shop More</button></a>
      {% if success %}
            <div class="alert alert-success">
                {{success}}
            </div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- main end-->

{% endblock 'main' %}